<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="infra.xml"/>

    <bean id="integerFactory" class="org.zeger.spring.quoters.beanpostprocessor.IntegerFactory"/>

    <bean class="java.lang.Integer" factory-bean="integerFactory" factory-method="createInteger"/>

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="anotherMessage" class="java.lang.String">
        <constructor-arg value="Trust me!"/>
    </bean>
    <bean id="talkingRobot" class="org.zeger.spring.quoters.quoter.TalkingRobot" abstract="true">
        <property name="quoters">
            <list>
                <ref bean="shakespeareQuoter"/>
                <ref bean="terminatorQuoter"/>
            </list>
        </property>
    </bean>
    <bean id="shakespeareQuoter" class="org.zeger.spring.quoters.quoter.ShakespeareQuoter">
        <property name="message" value="${shakespeare}"/>
    </bean>

    <bean id="terminatorQuoter" class="org.zeger.spring.quoters.quoter.TerminatorQuoter">
        <property name="message">
            <list>
                <value>I'll be bach</value>
                <ref bean="anotherMessage"/>
                <value>Asta la vista baby</value>
            </list>
        </property>
    </bean>
</beans>